@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .proj {
    @apply flex flex-col bg-white rounded-xl shadow-md;
  }

  .sub1title {
    @apply text-2xl text-gray-900 text-left font-semibold py-4 mt-16;
  }

  .sub2title {
    @apply text-xl text-gray-900 text-left font-medium py-4 mt-10;
  }

  .sub3title {
    @apply text-lg text-gray-900 text-left font-medium py-4 mt-6;
  }

  .postDatesDiv {
    @apply flex text-sm text-gray-600 text-left gap-3 mt-2.5;
  }

  .text {
    @apply text-xl w-full lg:max-w-[30rem] xl:max-w-[55rem] text-left text-pretty leading-7 mb-3 last:mb-0;
  }

  .subtext {
    @apply text-sm text-left italic text-gray-600 mt-1.5;
  }

  .link {
    @apply underline decoration-2 hover:decoration-1 hover:decoration-wavy hover:text-blue-600 active:text-blue-700 transition;
  }

  .postImgDiv {
    @apply mt-3 mb-6;
  }

  .postImg {
    @apply w-full rounded-lg border-2 border-gray-200;
  }

  .postThumbImgDiv {
    @apply mt-2;
  }

  .postThumbImg {
    @apply rounded-3xl;
  }

  .fadeIn {
    @apply invisible opacity-0 transition-all;
  }

  .fadeOut {
    @apply visible opacity-100 transition-all;
  }
}

.fade-text {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.grayscale {
  filter: grayscale(1);
}
